/**
* Main app styles
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-weight: 600;

@import '~bootstrap/scss/bootstrap';

/* Color Theme Swatches in Hex */
$Civista-Grays---Hex-Codes-1-hex: #f5f5f5;
$Civista-Grays---Hex-Codes-2-hex: #ebebeb;
$Civista-Grays---Hex-Codes-3-hex: #899fb3;
$Civista-Grays---Hex-Codes-4-hex: #4e5a65;
$Civista-Grays---Hex-Codes-5-hex: #3b444d;

body {
	background-color: $Civista-Grays---Hex-Codes-2-hex;

	.container a {
		color: $Civista-Grays---Hex-Codes-4-hex;
	}

	.container a:hover {
		color: $Civista-Grays---Hex-Codes-5-hex;
	}
}

#nav {
	background-color: $Civista-Grays---Hex-Codes-5-hex;
	padding: 0.75rem;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
	a.navbar-brand {
		font-size: 1.5rem;
	}
	a.nav-link {
		font-size: 1.2rem;
	}
}

.custom-button {
	background-color: $Civista-Grays---Hex-Codes-4-hex;
	border-color: $Civista-Grays---Hex-Codes-4-hex;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.custom-button:hover {
	background-color: $Civista-Grays---Hex-Codes-5-hex;
	border-color: $Civista-Grays---Hex-Codes-5-hex;
}
