/**
* Main app styles
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$font-family: 'Source Sans Pro', sans-serif;
$headings-font-weight: 400;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import '~bootstrap/scss/bootstrap';

/* Color Theme Swatches in Hex */
$Civista-Grays---Hex-Codes-1-hex: #f5f5f5;
$Civista-Grays---Hex-Codes-2-hex: #ebebeb;
$Civista-Grays---Hex-Codes-3-hex: #899fb3;
$Civista-Grays---Hex-Codes-4-hex: #4e5a65;
$Civista-Grays---Hex-Codes-5-hex: #3b444d;

body {
	background-color: $Civista-Grays---Hex-Codes-1-hex;
	color: $Civista-Grays---Hex-Codes-5-hex;
	.container a {
		color: $Civista-Grays---Hex-Codes-4-hex;
	}
	.container a:hover {
		color: $Civista-Grays---Hex-Codes-5-hex;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Roboto Mono', monospace;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid $Civista-Grays---Hex-Codes-3-hex;
	}
}

#nav {
	background-color: $Civista-Grays---Hex-Codes-1-hex;
	padding: 0.75rem;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
	font-family: 'Roboto Mono', monospace;
	a.navbar-brand {
		font-size: 1.5rem;
	}
	a.nav-link {
		font-size: 1.2rem;
	}
}

.custom-form input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 5px solid #edcb4e;
}

.custom-button {
	border-radius: 200px;
	background-color: $Civista-Grays---Hex-Codes-4-hex;
	border-color: $Civista-Grays---Hex-Codes-4-hex;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.custom-button:hover {
	background-color: $Civista-Grays---Hex-Codes-5-hex;
	border-color: $Civista-Grays---Hex-Codes-5-hex;
	box-shadow: 0 14px 26px -12px rgba(180, 184, 183, 0.42),
		0 4px 23px 0 rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(149, 153, 152, 0.2);
}

.language-img {
	opacity: 0.9;
	border-radius: 0.5rem;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.language-card {
	font-family: 'Roboto Mono', monospace;
	border-radius: 0.5rem;
	h3 {
		border-bottom: 5px solid #edcb4e;
	}
}

.language-card:hover {
	.language-img {
		opacity: 1;
		box-shadow: 0 14px 26px -12px rgba(180, 184, 183, 0.42),
			0 4px 23px 0 rgba(0, 0, 0, 0.12),
			0 8px 10px -5px rgba(149, 153, 152, 0.2);
	}
}

.link-card {
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);

	.card-header {
		background-color: #edcb4e;
	}
	.card-footer {
		background-color: #edcb4e30;
	}
}
.link-card:hover {
	box-shadow: 0 14px 26px -12px rgba(180, 184, 183, 0.42),
		0 4px 23px 0 rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(149, 153, 152, 0.2);
}
.dropdown-item.active,
.dropdown-item:active {
	background-color: $Civista-Grays---Hex-Codes-3-hex;
}

.alert-light {
	background-color: #edcb4e40;
	border-color: #edcb4e60;
	color: $Civista-Grays---Hex-Codes-4-hex;
}

.home-languages {
	h4 {
		border-bottom: 0;
	}
	.card-header {
		background-color: $Civista-Grays---Hex-Codes-2-hex;
		color: $Civista-Grays---Hex-Codes-5-hex;
		text-align: center;
	}
	.card-header:hover {
		background-color: #edcb4e40;
	}
}

.home-img {
	opacity: 0.9;
	box-shadow: 0 14px 26px -12px rgba(180, 184, 183, 0.42),
		0 4px 23px 0 rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(149, 153, 152, 0.2);
}

.icon {
	color: #edcb4e;
	border-radius: 100%;
	background-color: $Civista-Grays---Hex-Codes-4-hex;
	padding: 0.25rem;
	height: 32px;
}

.add-icon:hover {
	font-size: large;
	cursor: pointer;
}

.not-completed {
	font-size: large;
	color: $Civista-Grays---Hex-Codes-3-hex;
}

.completed {
	font-size: large;
	color: green;
}
